# 2.15 **Fungsi Range**

Fungsi range berguna untuk membangkitkan bilangan berurutan atau berpola yang kita
inginkan.

In [2]:
angka_10 = range(20)
print(angka_10)
print("===========")
for isi in angka_10:
  print(isi)
print("===========")
for isi in range(5,16):
  print(isi)

range(0, 20)
===========
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
===========
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
for isi in range(2,100,15):
  print(isi)
print("====")
for isi in range(0,3600,600):
  print(isi)
print("===")
for isi in range(300,6000,160):
  print(isi)

2
17
32
47
62
77
92
====
0
600
1200
1800
2400
3000
===
300
460
620
780
940
1100
1260
1420
1580
1740
1900
2060
2220
2380
2540
2700
2860
3020
3180
3340
3500
3660
3820
3980
4140
4300
4460
4620
4780
4940
5100
5260
5420
5580
5740
5900

Contoh kode untuk mencari data terbesar

In [ ]:
data_10= (1,2,3,4,5,6,3,4,5,2,6,7,8,9,12,14,54,23,14,23,54,67,98,78,65,43,23,4,56,78,890)
terbesar = data_10[0]
for angka in data_10:
  if angka > terbesar:
    terbesar = angka
print(terbesar)

890

Contoh kode untuk anggota data menjadi unik

In [ ]:
data_10 = (1,2,3,4,5,6,3,4,5,2,6,7,8,9,12,14,54,23,14,23,54,67,98,78,65,43,23,4,56,78,890)
data_10_unik = []
for anggota in data_10:
  if anggota not in data_10_unik:
    data_10_unik.append(anggota)
print(data_10_unik)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 14, 54, 23, 67, 98, 78, 65, 43, 56, 890]

In [ ]:
data_10 = ('mita','diva','ratih','mei','rosa','rosa','rosa','nariska','diva','mita','ratih','mei','mei','kevin','chandra','dermawan', 'kevin', 'dermawan','oca','rosa')
data_10_unik = []
for anggota in data_10:
  if anggota not in data_10_unik:
    data_10_unik.append(anggota)
print(data_10_unik)

['mita', 'diva', 'ratih', 'mei', 'rosa', 'nariska', 'kevin', 'chandra', 'dermawan', 'oca']

## 2.16 List 2 Dimensi

List 2 dimensi pada umumnya adalah menempatkan sebuah list di dalam list.

In [4]:
matrik_10 = [
    [2,4,6,8],
    [3,6,9,12],
    [4,8,12,16],
    [5,10,15,20],
    [6,12,18,24],
    [7,14,21,28],
]
print(matrik_10)

[[2, 4, 6, 8], [3, 6, 9, 12], [4, 8, 12, 16], [5, 10, 15, 20], [6, 12, 18, 24], [7, 14, 21, 28]]

In [5]:
matrik_10[3]

[5, 10, 15, 20]

In [6]:
matrik_10[5][3]

28

In [7]:
matrik_10[1][2]

9

In [8]:
matrik_10

[[2, 4, 6, 8],
 [3, 6, 9, 12],
 [4, 8, 12, 16],
 [5, 10, 15, 20],
 [6, 12, 18, 24],
 [7, 14, 21, 28]]

In [ ]:
for baris in matrik_10:
  print(baris)
  for kolom in baris:
    print(kolom)

[2, 4, 6, 8]
2
4
6
8
[3, 6, 9, 12]
3
6
9
12
[4, 8, 12, 16]
4
8
12
16
[5, 10, 15, 20]
5
10
15
20
[6, 12, 18, 24]
6
12
18
24
[7, 14, 21, 28]
7
14
21
28

## **2.17 Tuples**

Tuples mirip dengan list, akan tetapi tuples tidak dapat dirubah isinya. Jika kita memiliki
data yang tidak ingin dirubah isinya, kita gunakan tuples, sedangkan jika datanya masih
ingin dimanipulasi kedepannya, gunakan list.

In [1]:
dewa_10 = ('Zeus','Hera','Poseiden','Hermes','Ades','Ares')
print(dewa_10)

('Zeus', 'Hera', 'Poseiden', 'Hermes', 'Ades', 'Ares')

In [3]:
print(dewa_10[0:3])
print('----------------------')
print(dewa_10[1:4])
print('----------------------')
print(dewa_10[2:3])
print('----------------------')
for isi in dewa_10[0:4]:
    print(isi)
print('==========================')
for isi in dewa_10[1:5]:
    print(isi)

('Zeus', 'Hera', 'Poseiden')
----------------------
('Hera', 'Poseiden', 'Hermes')
----------------------
('Poseiden',)
----------------------
Zeus
Hera
Poseiden
Hermes
==========================
Hera
Poseiden
Hermes
Ades

In [6]:
dewa_10.count('Zeus')

1

In [7]:
dewa_10.index('Ades')

4

### 2.18 Dictionaries

Dictionaries digunakan jika data nya terkait satu sama lain.

In [8]:
biodata_10 ={
    'nama' : "Rosanita Eka Sari",
    'umur' : 19,
    'apakah_pinter?' : True
}
print(biodata_10['nama'])

Rosanita Eka Sari

In [9]:
print(biodata_10.get('tanggal_lahir'))

None

In [10]:
print(biodata_10.get('tanggal_lahir', '24-09-2005'))

24-09-2005

In [11]:
biodata_10['HP'] = '08123456789'
print(biodata_10['HP'])

08123456789

In [12]:
print(biodata_10)

{'nama': 'Rosanita Eka Sari', 'umur': 19, 'apakah_pinter?': True, 'HP': '08123456789'}

In [21]:
angka_10 = {
    "0" : "nol",
    "1" : "satu",
    "2" : "dua",
    "3" : "tiga",
    "4" : "empat",
    "5" : "lima",
    "6" : "enam",
    "7" : "tujuh",
    "8" : "delapan",
    "9" : "sembilan"
}
nomor_phone_10 = input("Masukkan nomor HP kamu ")
nomor_angka_10 = ""
for isi in nomor_phone_10:
    nomor_angka_10 += angka_10.get(isi) + " "
print(nomor_angka_10)

Masukkan nomor HP kamu 1313263842
satu tiga satu tiga dua enam tiga delapan empat dua

In [24]:
kera_10 = {
    'animal': "Kera",
    'kingdom': "Animalia",
    'filium': "Chordata",
    'kelas': "Mammalia",
    'ordo': "Primates"
}
print(kera_10['animal'])
print('==============================================================================')
print(kera_10.get('animal'))
print('==============================================================================')
print(kera_10.get('super_famili'))
print('==============================================================================')
print(kera_10.get('super_famili', 'Hominoidea'))
print('==============================================================================')
print(kera_10)
print('==============================================================================')
print(kera_10)

Kera
==============================================================================
Kera
==============================================================================
None
==============================================================================
Hominoidea
==============================================================================
{'animal': 'Kera', 'kingdom': 'Animalia', 'filium': 'Chordata', 'kelas': 'Mammalia', 'ordo': 'Primates'}
==============================================================================
{'animal': 'Kera', 'kingdom': 'Animalia', 'filium': 'Chordata', 'kelas': 'Mammalia', 'ordo': 'Primates'}

## 2.19 Fungsi dalam Python

Fungsi dibentuk untuk menghindari pengulangan pembuatan program secara manual. Fungsi juga berguna untuk mempermudah dan meringkas suatu program.

In [25]:
def full_name_10(first_name,middle_name,last_name):
    print(f"Nama lengkap saya adalah {first_name_10} {middle_name_10} {last_name_10}")
first_name_10 = input("Nama depan saya adalah ")
middle_name_10 = input("Nama tengah saya adalah ")
last_name_10 = input("Nama belakang saya adalah ")
full_name_10(first_name_10,middle_name_10,last_name_10)

Nama depan saya adalah Rosanita
Nama tengah saya adalah Eka
Nama belakang saya adalah Sari
Nama lengkap saya adalah Rosanita Eka Sari

In [26]:
def planet_10(nama_planet,luas_planet):                                                                 #pendefinisian fungsi
    print(f"Nama Planet yaitu {nama_planet_10} , dan luasnya adalah {luas_planet_10}")
nama_planet_10 = input("Nama Planet yaitu:  ")
luas_planet_10 = input("Sedangkan, luas adalah:  ")
planet_10(nama_planet_10,luas_planet_10)

Nama Planet yaitu:  Bumi
Sedangkan, luas adalah:  501.10 juta km kuadrat
Nama Planet yaitu Bumi , dan luasnya adalah 501.10 juta km kuadrat

In [29]:
def waktu_sampai_10(jarak,kecepatan):
    waktu_10 = jarak/kecepatan
    print(waktu_10)
waktu_sampai_10(80,60)
t_10 = waktu_sampai_10(80,60)
print(t_10)


def waktu_tempuh_10(jarak,kecepatan):
    waktu_10 = jarak/kecepatan
    return(waktu_10)
waktu_tempuh_10(80,60)
s_10 = waktu_tempuh_10(80,60)
print(s_10)

1.3333333333333333
1.3333333333333333
None
1.3333333333333333

In [30]:
# Luas Segitiga
def luas_segitiga_10(alas, tinggi):
    luas = 0.5*alas*tinggi
    return luas

#  Luas Lingkaran
def luas_lingkaran_10(jari_jari):
    luas = 3.14*(jari_jari**2)
    return luas

#  Luas Persegi
def luas_persegi_10(sisi):
    luas = sisi**2
    return luas

#  Luas Persegi Panjang
def luas_persegi_panjang_10(panjang, lebar):
    luas = panjang*lebar
    return luas

In [35]:
print("Bingung ya dalam menghitung luas suatu bidang, sini aja")
jenis_bidang_10 = input('Masukkan bidang yang ingin kamu hitung dalam huruf capital : ')
if jenis_bidang_10.upper() == 'SEGITIGA':
    alas = float(input('Masukan alasnya? (dalam cm) '))
    tinggi = float(input('Masukan tingginya? (dalam cm) '))
    luas = luas_segitiga_10(alas, tinggi)
    print(F'Luas {jenis_bidang_10} adalah {luas}')
elif jenis_bidang_10.upper() == 'LINGKARAN':
    jari_jari = float(input('Masukan jari-jarinya? (dalam cm) '))
    luas = luas_lingkaran_10(jari_jari)
    print(F'Luas {jenis_bidang_10} adalah {luas}')
elif jenis_bidang_10.upper() == 'PERSEGI':
    sisi = float(input('Masukan panjang sisinya? (dalam cm) '))
    luas = luas_persegi_10 (sisi)
    print(F'Luas {jenis_bidang_10} adalah {luas}')
elif jenis_bidang_10.upper() == 'PERSEGI PANJANG':
    lebar = float(input('Berapakah lebarnya? (dalam cm) '))
    panjang = float(input('Berapakah panjangnya? (dalam cm) '))
    luas = luas_persegi_panjang_10 (panjang, lebar)
    print(F'Luas {jenis_bidang_10} adalah {luas}')
else:
    print(F'Mohon coba kembali, bidang {jenis_bidang_10} yang anda input tidak tersedia untuk saat ini')

Bingung ya dalam menghitung luas suatu bidang, sini aja
Masukkan bidang yang ingin kamu hitung dalam huruf capital : SEGITIGA
Masukan alasnya? (dalam cm) 12
Masukan tingginya? (dalam cm) 6
Luas SEGITIGA adalah 36.0