In [ ]:
planet_10 = ['Merkurius','Venus','Bumi', 'Mars', 'Jupiter', 'Saturnus','Uranus','Neptunus']
print(planet_10)

['Merkurius', 'Venus', 'Bumi', 'Mars', 'Jupiter', 'Saturnus', 'Uranus', 'Neptunus']

In [ ]:
print(planet_10[0])
print(planet_10[5])
print(planet_10[-2])
print(planet_10[-6])

Merkurius
Saturnus
Uranus
Bumi

In [ ]:
planet_10[-1]='pluto'
print(planet_10)
print(planet_10[0:5])
#tidak merubah list
print(planet_10)

['Merkurius', 'Venus', 'Bumi', 'Mars', 'Jupiter', 'Saturnus', 'Uranus', 'pluto']
['Merkurius', 'Venus', 'Bumi', 'Mars', 'Jupiter']
['Merkurius', 'Venus', 'Bumi', 'Mars', 'Jupiter', 'Saturnus', 'Uranus', 'pluto']

In [ ]:
titan_10 = ['Godzilla', 'King Kong', 'Skar King', 'Shimo', 'Suko', 'Motra', 'Scylla']
print(titan_10[2:4])
print(titan_10[0:-1])
print(titan_10[0:2])
print(titan_10[3:5])
print(titan_10[4:7])
print(titan_10[6:8])
print(titan_10[-5])
print(titan_10[1])
print(titan_10[0:2])

['Skar King', 'Shimo']
['Godzilla', 'King Kong', 'Skar King', 'Shimo', 'Suko', 'Motra']
['Godzilla', 'King Kong']
['Shimo', 'Suko']
['Suko', 'Motra', 'Scylla']
['Scylla']
Skar King
King Kong
['Godzilla', 'King Kong']

In [25]:
zodiak_10 = ['Aries','Taurus','Gemini','Cancer','Leo','Virgo','Libra','Scorpio','Sagitarius','Capricon','Aquarius','Pisces']
zodiak_10.insert(7,'Ophiuchus')
print(zodiak_10)

['Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Ophiuchus', 'Scorpio', 'Sagitarius', 'Capricon', 'Aquarius', 'Pisces']

In [26]:
zodiak_10.remove('Scorpio')
print(zodiak_10)
print("=====")
print('Scorpio' in zodiak_10)
print("=====")
print('Libra' in zodiak_10)
print("=====")
print(len(zodiak_10))
print("=====")

['Aries', 'Taurus', 'Gemini', 'Cancer', 'Leo', 'Virgo', 'Libra', 'Ophiuchus', 'Sagitarius', 'Capricon', 'Aquarius', 'Pisces']
=====
False
=====
True
=====
12
=====

In [ ]:
dino_10 = ['T-Rex (Tyrannosaurus Rex)', 'Stegosaurus', 'Brontosaurus', 'Triceratops','Velociraptor','Dilophosaurus','Ankylosaurus','Pterodactyl']
for jenis in dino_10:
  print(jenis)

T-Rex (Tyrannosaurus Rex)
Stegosaurus
Brontosaurus
Triceratops
Velociraptor
Dilophosaurus
Ankylosaurus
Pterodactyl

In [ ]:
i = 0
while i < len(dino_10):
  print(dino_10[i])
  i+=1

T-Rex (Tyrannosaurus Rex)
Stegosaurus
Brontosaurus
Triceratops
Velociraptor
Dilophosaurus
Ankylosaurus
Pterodactyl

In [ ]:
i = 1
while i < len(dino_10):
  print(dino_10[i])
  i+=2

Stegosaurus
Triceratops
Dilophosaurus
Pterodactyl

In [ ]:
i = 4
while i < len(dino_10):
  print(dino_10[i])
  i+=2

Velociraptor
Ankylosaurus

In [23]:
print("===============")
galaksi_10 = ['Bimasakti','Andromeda','The Rose', 'Sculptor','Black Eye', 'Blue Pinwhell','Cartwheel','Sunflower', 'Ursa Mayor','M51','Maggelan']
for g in galaksi_10:
  print(g)
print("===============")
i = 3
while i < len(galaksi_10):
  print(galaksi_10[i])
  i+=2
print("==============")
i = 2
while i < len(galaksi_10):
  print(galaksi_10[i])
  i+=4
print("==============")
i = 3
while i < len(galaksi_10):
  print(galaksi_10[i])
  i+=6
print("==============")
i = 4
while i < len(galaksi_10):
  print(galaksi_10[i])
  i+=8
print("==============")
i = 5
while i < len(galaksi_10):
  print(galaksi_10[i])
  i+=3

===============
Bimasakti
Andromeda
The Rose
Sculptor
Black Eye
Blue Pinwhell
Cartwheel
Sunflower
Ursa Mayor
M51
Maggelan
===============
Sculptor
Blue Pinwhell
Sunflower
M51
==============
The Rose
Cartwheel
Maggelan
==============
Sculptor
M51
==============
Black Eye
==============
Blue Pinwhell
Ursa Mayor

In [4]:
tanah_10 = ['Aluvial','Andosol','Regosol','Latosol','Laterit','Litosol','Grumosol','Organosol','Mediteran', 'Rendzina','Podzolik','Podzolik Merah Kuning']
for t in tanah_10:
  print(t)

Aluvial
Andosol
Regosol
Latosol
Laterit
Litosol
Grumosol
Organosol
Mediteran
Rendzina
Podzolik
Podzolik Merah Kuning

In [6]:
i = 6
while i < len(tanah_10):
  print(tanah_10[i])
  i+=3

Grumosol
Rendzina

In [9]:
i = 3
while i < len(tanah_10):
  print(tanah_10[i])
  i+=2

Latosol
Litosol
Organosol
Rendzina
Podzolik Merah Kuning

In [10]:
i = 1
while i < len(tanah_10):
  print(tanah_10[i])
  i+=4

Andosol
Litosol
Rendzina